*{
  margin: 0;
  padding: 0;
  font-family: 'Courier Prime', monospace;

}

.About{
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, .7), rgba(4, 9, 30, .7)), url(images/cool-background.png);
  background-position: center;
  background-size: cover;
  background: #196d91;

}
.About h1{
  padding: 30px 30px;
  text-shadow: 1px 1px #111;

}
.About h2{
  padding: 60px 10px;
  text-align: center;
  color: #FFF;
}
.About p{
  font-size: 20.5px;
  position: relative;
  padding: 10px 300px;
  padding-bottom: 190px;
  text-align: center;
  color: #FFF;
  text-align: left;
  border-bottom: 3px solid #000;

}
nav{
  display: flex;
  justify-content: center;
  align-items: right;
}
.About-Links{
  padding: 40px 20px;
  flex: 1;
  text-align: center;

}
.About-Links ul li{
  display: inline-block;
  list-style-position:inside;
  padding: 5px 5px;
  border: 2px solid white;
  box-shadow: 2px 2px #c9c9c9;
  position: relative;
  bottom: 40px;
  transition: ease-out .75s;
}
.About-links ul li a{
   color: #fff;
   text-decoration: none;
   font-size: 21px;
   padding: 20px;
}
.About-Links ul li:hover{
  background: #fa6171;
  box-shadow: 1px 1px #196d91;
}
.Projects{
  background-color: #f5f5f5;
  width: 100%;
  position: relative;
}
.Projects h1{
  text-align: center;
  padding: 20px 10px;
  color: #000;

}
.Projects h2{
  text-align: center;
  padding: 20px 10px;
  color: #111;
  text-shadow: 1px 1px #b0b0b0;

}
.Projects h3{
  text-align: center;
  font-size: 28px;
  padding: 10px 10px;
  color: #111;
  text-shadow: 1px 1px #b0b0b0;

}


.Projects p{
  text-align: center;
  padding: 50px 200px;
  color: #111;
  text-align: justify;

}
.Project-Links{
  padding: 20px 20px;
  flex: 1;
  text-align: center;

}
.Project-Links ul li{
  display: inline-block;
  list-style-position:inside;
  background: #196d91;
  padding: 10px 10px;
  border: 2px solid #333;
  box-shadow: 2px 2px #777;
  position: relative;

  transition: ease-out .75s;
}
.Project-links ul li a{
   color: #fff;
   text-decoration: none;
   font-size: 21px;
   padding: 20px 20px;
}
.Project-Links ul li:hover{
  background: #fa6171;
  box-shadow: 1px 1px #FFF;
}

.Skills{
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: #f5f5f5;
  width: 100%
}
.Skills h1{
  padding: 20px 10px;
  color: #000;
  text-align: center;
  border-top: 3px solid #000;
}
.Skills h2{
  padding: 20px 10px;
  padding-bottom: 12px;
  position: relative;
  color: #000;
  text-align: center;


}
.Skills p{
  position: relative;

  text-align: left;
  color: #000;
}
.skills li{
  padding: 12px;
  margin-left: 35%;
  margin-right: auto;

}
.Skill-Links{
  padding: 60px 20px;
  flex: 1;
  text-align: center;
  background: #f5f5f5;

}
.Skill-Links ul li{
  display: inline-block;
  list-style-position:inside;
  background: #196d91;
  padding: 10px 10px;
  border: 2px solid #333;
  box-shadow: 2px 2px #777;
  position: relative;
  transition: ease-out .75s;
}
.Skill-links ul li a{
   color: #fff;
   text-decoration: none;
   font-size: 21px;
   padding: 20px 20px;
}
.Skill-Links ul li:hover{
  background: #fa6171;
  box-shadow: 1px 1px #FFF;
}
.img-chess{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  height: 385px;
  background-image: url(images/chess.png);
  background-size: 100%;
  border: 3px solid #000;


}
.img-snapchat{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 530px;
  height: 450px;
  background-image: url(images/snapchat.png);
  background-size:  cover;
  position: relative;
  border: 3px solid #000;
}
.img-lab{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 530px;
  height: 450px;
  background-image: url(images/lab.png);
  background-size:  cover;
  position: relative;
  border: 3px solid #000;
}
.img-about{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  background-image: url(images/main-icon-0.png);
  background-size:contain;
  background-position: center;
  position: sticky;

}
.More{
  background-color: #196d91;
  width: 100%;
  text-align: center;

}
.More h1{
  padding: 20px 20px;
  text-align: center;
  border-top: 3px solid #000;
  color: #FFF;
}
.More p{
  padding: 50px 20px;
  text-align: center;
  color: #FFF;
}


.blink_me_contact{
  animation: blinker 1s linear infinite;
  position: relative;
  padding-left: 10px;
  font-size: 20px;
  bottom: 3px;

}
.blink_me_project {
  animation: blinker 1s linear infinite;
  padding: 10px;
  font-size: 18px;
  position: relative;
  bottom: 3px;
}
.blink_me_skills{
  animation: blinker 1s linear infinite;
  padding: 5px;
  bottom: 3px;
  font-size: 20px;
  position: relative;

}
.blink_me_about{
  animation: blinker 1.25s linear infinite;
  padding: 1px;
  bottom: 3px;
  font-size: 20px;
  position: relative;
}

@keyframes blinker {
  50% { opacity: 0; }
}
