
#root {
  width: 100%;
  padding: 0px;
  font-family: 'Courier New', monospace;
}



button {
  border-radius: 8px;
  padding-bottom: 190px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #fb646b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #fb646b;
  }
  button {
    background-color: #f9f9f9;
  }

