#root {
  width: 100%;
  padding: 0px;
  font-family: 'Courier New', monospace;
}

button {
  border-radius: 8px;
  padding-bottom: 190px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #f77e84;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:root {
  color: #213547;
}

a:hover {
  color: #fb6064;
}
bu
tton {
  background-color: red;
}

